{% extends 'home.html' %}
{% block content %}

    <h1>{{ location.address }}</h1>

    <h2>The hourly forecast for {{ date }}</h2>
    <table>
    {% for hour in hourdata %}
        <tr><th>{{ hour.get('datetime') }}</th></tr>
        {% for element in hour %}
        <div>
        <td><b>{{ element }} </b>{{ hour.get(element) }}</td>
        </div>
        {% endfor %} 
        
    {% endfor %}
    </table>
    <div>
    
        <p>
            <ul>
          
            </ul>
        </p>
    </div>
{% endblock %}