{% extends 'home.html' %}
{% block content %}
<h1>Profile</h1>
<p>
    <form action="/addlocation">
        <button>Add new address </button>
    </form>
 
        {% for i in locations %}
        <li>
        <a href="/locations/{{ i.id }}">{{ i.address }}</a>
        </li>
        {% endfor %}
</p>
{% if dicc %}
    {% for i in dicc %}
      {% if dicc.get(i) == "Yes" %}
       <p>{{ i }} {{ dicc.get(i) }}</p>
      {% endif %}
    {% endfor %}
{% endif %}

{% if dicc == 0 %}
<h1>{{ survey.title }}</h1>
<p>
    {{ survey.instructions }}
</p>

<form action="/start" method="POST">
    <button class="
                  btn 
                  btn-sm 
                  {{'btn-secondary'}}"
                >
                  <i class="fa fa-thumbs-up"></i> 
</form>
{% endif %}
{% endblock %}

