{% extends 'home.html' %}
{% block content %}
<div class="move">
<h1>Profile</h1>
<h2 class="test">Hello {{ user.first_name }} {{ user.last_name }}!</h2>
<p>
    <form action="/addlocation">
        <button class="test">Add new address </button>
    </form>
 
        {% for i in locations %}
        <li>
        <a href="/locations/{{ i.id }}">{{ i.address }}</a>
        </li>
        {% endfor %}
</p>
<p class="move">
    {% if health != 0 %}
    <h3 class="test">Health Issues Listed Below</h3>
    {% for i in health %}
        <li><b>{{ i.name }}</b></li>
    {% endfor %}
    {% endif %}
</p>
<p>
   
{% if usersizehealth == 0 %}
    <h1>{{ survey.title }}</h1>
        {{ survey.instructions }}
        <form action="/start" method="POST">
            <button>Start</button>
        </form>
{% endif %}
</p>
</div>
{% endblock %}

